@model Introducao.Models.Pessoa
@{
    ViewBag.Title = "Home";
}

<h2>Home - Index</h2>


<h3>View Tipada - Model</h3>
<P>@Model.PessoaId</P>
<P>@Model.Nome</P>
<P>@Model.Tipo</P>


@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Infomações de Pessoa</legend>

        <div>
            @Html.LabelFor(x => x.PessoaId)
        </div>
        <div>
           @Html.EditorFor(x => x.PessoaId)
        </div><br />
        <div>
            @Html.LabelFor(x => x.Nome)
        </div>
        <div>
            @Html.EditorFor(x => x.Nome)
        </div><br />
        <div>
            @Html.LabelFor(x => x.Tipo)&nbsp;
        </div>
        <div>
            @Html.EditorFor(x => x.Tipo)&nbsp;
        </div><br />

        <input type="submit" value="Enviar"/>
    </fieldset>
}

